body {
	font-family: Bungee Hairline;
	background: #000000;
}

h1 {
	font-family: "Bungee Hairline";
	color: #000000;
	font-size: 65px;
	text-align: left;
	padding-left: 40px;
	margin-top: 35px;
	background: #00ff03;
}

.spanHeaderTag {
	font-size: 30px;
}

.text-center {
	color: #00ff03;
	font-size: 30px;
}

.nameLabel {
	font-size: 40px;
	color: #00ff03;
}

.quoteLabel {
	font-size: 40px;
	color: #00ff03;
}

#name-input {
	color: #000;
}

.name_input {
	background-color: #00ff03;
	border-radius: 5px;
	height: 50px;
	width: 400px;
}

#quote-update-input {
	font-size: 25px;
}

.scrollDown {
	font-weight: bold;
	color: #00ff03;
	font-size: 25px;
}

.textArea {
	color: #000;
	text-decoration-color: #a80707;
	background-color: #00ff03;
	border-radius: 5px;
	height: 100px;
	width: 400px;
}

.name {
 	font-size: 25px;
}

.quote {
	font-size: 50px;
}

p.quote:hover {
	color: #00ff03;
	background-color: #000000;
}

#submit-this {
	background-color: #000000;
	color: #00ff03;
	border: solid 1px #00ff03;
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 2px;
}

#submit-this:hover {
	color: #000000;
	background-color: #00ff03;
}

.user-div {
	background-color: #00ff03;
}


.well {
	padding: 5px;
}

.x-button {
	background-color: black;
	border: solid 1px black;
}

.quote:hover {
	background-color: lightgray;
}

#quote-update-input {
	border-radius: 5px;
	background-color: #00ff03;
	color: #000000;
	height: 150px;
}

#quote-update-input:hover {
	color: blue;
}

.enter-button {
	background-color: #000000;
	border: solid 1px #00ff03;
	color: #00ff03;
	font-size: 20px;
}

.enter-button:hover {
	background-color: #00ff03;
	border: solid 1px #000000;
	color: #000000;
}

.modal-header {
	background-color: #000000;
	border-top: solid 10px #00ff03;
	border-left: solid 10px #00ff03;
	border-right: solid 10px #00ff03;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

}

.modal-body {
	background-color: #000000;
	border-left: solid 10px #00ff03;
	border-right: solid 10px #00ff03;
}

.modal-footer {
	background-color: #000000;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left: solid 10px #00ff03;
	border-right: solid 10px #00ff03;
	border-bottom: solid 10px #00ff03;
}
