body {
	font-family: Bungee Hairline;
}

h1 {
	font-family: "Bungee Hairline";
	color: #ffffff;
	font-size: 50px;
	text-align: left;
	padding-left: 40px;
	margin-top: 35px;
	background: #a80707;
}

.nameLabel {
	font-size : 50px;
	color: #a80707;
}

.quoteLabel {
	font-size : 50px;
	color: #a80707;
}

.name_input {
	background-color: #dedede;
	border-radius: 5px;
	height: 50px;
	width: 400px;

}

textarea {
	text-decoration-color: #a80707;
	background-color: #dedede;
	border-radius: 5px;
	height: 100px;
	width: 400px;
}

.name {
 	font-size: 25px;
}

.quote {
	font-size: 39px;
}

#submit-this {
	background-color: #dedede;
	border-style: solid;
	border-color: black;
}

#submit-this:hover {
	color: white;
	background-color: #4acd03;
}

.well {
	padding: 5px;
}

.x-button {
	background-color: black;
	border: solid 1px black;
}

.quote:hover {
	background-color: lightgray;
}
